@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--mantine-font-family);
  color: var(--mantine-color-text);
  background: var(--mantine-color-body);
}

button,
a,
input,
textarea {
  font: inherit;
}
